{% extends 'Home/base.html' %} {% block about %}
<h1>{{ number2|divisibleby:"4" }} cards</h1>

{% load static %} {% for no in number %} {% if no|divisibleby:'4' %}
<div class="container">
  <div class="card" style="width: 18rem">
    <img src="{% static 'img/photo.jpg' %}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title {{no}} number</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endif %} {% endfor %} {% endblock about %}
